/* styles.css */

/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100px;
    margin: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Esto asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

.main {
    flex: 1; /* Esto hace que el contenido principal ocupe el espacio disponible */
    padding: 8rem; /* Mantén tu padding existente */
}

.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #3B5DAC;
    padding: 1rem 0; /* Ajusta el padding según sea necesario */
}


 
.logo-nav-contenedor nav img {
    max-width: 80px; /* La imagen no será más ancha que su contenedor */
    height: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B5DAC;
    padding: 10px;

    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu  a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem 2 rem;
    transition: all 0.45 linear;
    border-radius: 5px;
}

.nav-menu a:hover {
    color: white;
    background: gray;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}


/* codigo de seleccion de documento*/

.documento {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #3B5DAC;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3B5DAC;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
}

/* codigo seleccion de fecha*/

.solicitud-fecha {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #3B5DAC;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3B5DAC;
}

#output {
    margin-top: 20px;
    font-size: 18px;
}


.detallada {

    background-color: #fff;
}




    .text-container {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border-color: #3B5DAC;
    }
    
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .editable-div {
        color: black;
        width: 100%;
        height: 300px;
        padding: 10px 20px;
        margin-bottom: 10px 20px 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        box-sizing: border-box;
        overflow-y: auto;
    }
    
    button {
        width: 100%;
        padding: 10px 20px;
        background-color: #3B5DAC;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #3B5DAC;
    }
    
    #result {
        margin-top: 20px;
        text-align: center;
    }



